body {
  background-image: url("namafile.jpg"); /* ganti dengan path file */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}
